<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="raspicam_mount" default="forward"/>
    <arg name="sonars_installed" default="false"/>
    <arg name="lidar_installed" default="true"/>

    <arg name="rviz_config" default="true" />

    <include file="$(find gazebo_ros)/launch/willowgarage_world.launch">
    </include>

    <!-- start robot -->
    <include file="$(find magni_gazebo)/launch/magni.launch">
        <arg name="raspicam_mount" value="$(arg raspicam_mount)"/>
        <arg name="sonars_installed" value="$(arg sonars_installed)"/>
        <arg name="lidar_installed" value="$(arg lidar_installed)"/>
    </include>

    <!-- Additional nodes (optional)  -->

    <!-- RViz to visualize robot state -->
    <arg unless="$(arg rviz_config)" name="rviz_args" value="" />
    <arg     if="$(arg rviz_config)" name="rviz_args" value="-d $(find magni_gazebo)/launch/rviz_config.rviz" />

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="$(arg rviz_args)" output="screen"/>

</launch>
